body {
    margin:0;
}

.blocky {
    height:66px;
}

.live-light {
    display: inline-block;
    border:1px solid grey;
    width:30px;
    height:30px;
    border-radius: 100%;
    vertical-align: middle;
    background:lightgray;
}

.live-light.active {
    background:lime;
}
