/*
    Common Components
*/

body {
    margin:0;
    padding:0;
}

.app-canvas {
    min-height: 100vh;
    padding-bottom: 2em;
}

.content {
    margin-top:2em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius:0;
    //padding:1em;
}

.container {
    padding: 0;
}

@media (max-width: 800px) {
    h1 {
        display:none;
    }
    .container-fluid {
        padding:0;
    }
}
/*
 * Helpers
 */

a, button {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.label {
    font-size:1.1em;
    //font-weight: 300;
}

.font-btn {
    position: relative;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0px 10px;
    -webkit-user-select: none;
    line-height: 36px;
    color: #ffffff;
}

/*
 * Header
 */

.live-light {
    > button {
    }
    &.active {
       //background:lime;
    }
}

.clockFont {
    margin-right: 20%;
    > h3 {
        margin: 0;
        padding-top: 0;
        letter-spacing: 0;
        font-size: 20px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.87);
        line-height: 64px;
        @media (max-width: 800px) {
            font-size:14px;
        }
    }
  .clock-components {
    margin-right:.5em;
  }
}


/*
 * Single Contract
 */



/*
 * Add Contract Form
 */

form.add-contract {
    background: whitesmoke;
    padding:1em;
}

/*
 * Icons from https://www.google.com/design/icons/
 */

// Centering icons in top nav and in buttons
button svg, h3 svg {
    vertical-align: middle;
}


