/*
    Common Components
*/

body {
    margin:0;
}

.app-canvas {
    min-height: 100vh;
    padding-bottom: 2em;
}

.content {
    margin-top:2em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius:0;
    //padding:1em;
}

.container {
    padding: 0;
}

@media (max-width: 800px) {
    .container-fluid h1 {
        display:none;
    }
}
/*
 * Helpers
 */

a, button {
    cursor: pointer;
}

.centered {
    text-align: center;
}

.label {
    font-size:1.1em;
    //font-weight: 300;
}

.font-btn {
    position: relative;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0px 10px;
    -webkit-user-select: none;
    line-height: 36px;
    color: #ffffff;
}

/*
 * Header
 */

.live-light {
    > button {
    }
    &.active {
       //background:lime;
    }
}

.clockFont {
    margin-right: 20%;
    > h3 {
        margin: 0;
        padding-top: 0;
        letter-spacing: 0;
        font-size: 20px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.87);
        line-height: 64px;
    }
  .clock-components {
    margin-right:.5em;
  }
}


/*
 * Single Contract
 */



/*
 * Add Contract Form
 */

form.add-contract {
    background: whitesmoke;
    padding:1em;
}

/*
 * Icons from https://www.google.com/design/icons/
 */

button span.material-icons {
    vertical-align: middle;
}

.phone:before { content: "phone"; }

.contacts:before { content: "contacts"; }

.mode-edit:before { content: "mode_edit"; }

.insert-photo:before { content: "insert_photo"; }

.flash-off:before { content: "flash_off"; }

.flash-on:before { content: "flash_on"; }

.add-circle:before { content: "add_circle"; }

.schedule:before { content: "schedule"; }

.insert-invitation:before { content: "insert_invitation"; }

.account-circle:before { content: "account_circle"; }

.timer:before { content: "timer"; }

.person-add:before { content: "person_add"; }

.keyboard-arrow-right:before { content: "keyboard_arrow_right"; }

.insert-invitation:before { content: "insert_invitation"; }
