
.idea/vcs.xml

.idea/.name

.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.idea/studio-tracker.iml

.idea/workspace.xml

.meteor/.finished-upgraders

.meteor/.id

.meteor/packages

.meteor/platforms

.meteor/release

.meteor/versions
